/ TODO:タイトル(label)はymlファイルで定義する
p = form.label 'ユーザーネーム'
p = form.text_field :name, placeholder: 'user name'

p = form.label 'メールアドレス'
p = form.text_field :email, placeholder: 'sample@email.com'

p = form.label 'パスワード'
p = form.password_field :password

p = form.label 'パスワード(確認)'
p = form.password_field :password_confirmation

p = form.submit 'アカウント登録'
